@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Serif', serif;
    min-height: 100vh;
    background: linear-gradient(to bottom, #001c8d, #006eff);
}

/* General class rules */

.text-black {
    color: #fff;
}

.highlight {
    font-weight: 600;
}

.icon {
    margin-left: 5px;
}

/* Sets the main container */

.portfolio-container {
    background-color: #1f1f1f;
    margin: 40px 0;
    min-height: 90vh;
    border-radius: 10px;
    padding-bottom: 20px;
    color: #fff;
}

/*===============Nav Menu============*/

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    margin-left: 5%;
}

.logo a {
    color: #fff;
}

.social-media-list {
    text-decoration: none;
    list-style: none;
}

.social-media-icon {
    display: inline;
}

.social-media-icon a {
    color: #fff;
}

/*==========Social Media Icons and hover===========*/

.social-media-icon {
    font-size: 2em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.github,
.linkedin {
    color: #1c1c1c;
}

.github:hover {
    color: #6e5494;
}

.linkedin:hover {
    color: #0077b5;
}

.nav-links {
    float: right;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 500;
    color: #fff;
}

.cv-btn {
    background: linear-gradient(to top, #103ce7, #64e9ff);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.cv-btn:hover {
    box-shadow: 10px 10px 10px 0 rgba(49, 196, 190, 0.8);
}

.nav-links li {
    display: inline-block;
    position: relative;
    color: #0087ca;
    margin: 0 10px;
}

.nav-links li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00a9fd;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.nav-links li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/* Sets Height of the first row holding the introduction and image */

.content-row {
    min-height: 60vh;
}

/* ==================Introduction Section================== */

.profile-img {
    background-image: url('./images/panda.jpg');
    margin-left: 5%;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.introduction-title {
    color: #dddddd;
}

/* ==============About Me Section=============== */

.details-container {
    margin-left: 5%;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.about-para a {
    color: #00a9fd;
}

/*==========Projects Button, Icon and hover===========*/
.projects-btn {
    background: linear-gradient(to top, #103ce7, #64e9ff);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.projects-btn:hover {
    box-shadow: 10px 10px 10px 0 rgba(49, 196, 190, 0.8);
    transform: scale(1.15);
}

/*===============Projects Page===========*/

/*=========Cards=========*/

.cards-container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 1em auto;
    width: 30%;
}

.card-img-top {
    height: 250px;
}

.card-list-item {
    margin: 5px 0;
}

/*=============Skills Page==============*/
/*================Bar Background colours=========*/

.bar-bg-html {
    background-color: #e34c26 !important;
}

.bar-bg-css {
    background-color: #006aff !important;
}

.bar-bg-js {
    background-color: #F0db4f !important;
}

.bar-bg-bootstrap {
    background-color: #943277 !important;
}

.bar-bg-jquery {
    background-color: #001bb5 !important;
}

.bar-bg-python {
    background: linear-gradient(to right, #Ffde57, #4584b6) !important;
}

.bar-bg-django {
    background-color: #092e20 !important;
}


.icons-list li {
    display: inline;
}

.progress-container {
    margin-top: 50px;
}