@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Serif', serif;
    min-height: 100vh;
    background-color: #1f1f1f !important;
}

/* General class rules */

.highlight {
    font-weight: 600;
}

.icon {
    margin-left: 5px;
}

/*===============Nav Menu============*/

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    background-color: #222222;
    z-index: 9999;
}

.logo a {
    color: #fff;
}

.social-media-list {
    text-decoration: none;
    list-style: none;
}

.social-media-icon {
    display: inline;
}

.social-media-icon a {
    color: #fff;
}

/*==========Social Media Icons and hover===========*/

.social-media-icon {
    font-size: 2em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.github,
.linkedin {
    color: #1c1c1c;
}

.github:hover {
    color: #6e5494;
}

.linkedin:hover {
    color: #0077b5;
}

.nav-links {
    float: right;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 500;
    color: #fff;
}

.cv-btn {
    background: linear-gradient(to top, #103ce7, #64e9ff);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.cv-btn:hover {
    box-shadow: 10px 10px 10px 0 rgba(49, 196, 190, 0.8);
}

.nav-links li {
    display: inline-block;
    position: relative;
    color: #0087ca;
    margin: 0 10px;
}

.nav-links li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00a9fd;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.nav-links li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/* Sets Height of the first row holding the introduction */

.content-row {
    min-height: 60vh;
}

/* ==================Introduction Section================== */

.introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    color: #fff;
    font-size: 1.2rem;
}

.introduction-title {
    color: #dddddd;
}

/* ==============About Me Section=============== */

.details-container {
    margin-left: 5%;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    color: #fff;
    font-size: 1.1rem;
}

.about-para a {
    color: #00a9fd;
}

/*==========Projects Button, Icon and hover===========*/
.projects-btn {
    background: linear-gradient(to top, #103ce7, #64e9ff);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.projects-btn:hover {
    box-shadow: 10px 10px 10px 0 rgba(49, 196, 190, 0.8);
    transform: scale(1.15);
}

.code-skills-container {
    color: #fff;
    font-size: 1.1rem;
}

/*===========Projects Page============*/
/*=========Cards=========*/

.cards-container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 1em auto;
    width: 30%;
}

.card-img-top {
    height: 250px;
}

.card-list-item {
    margin: 5px 0;
}

/*=============Skills Page==============*/