@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Serif', serif;
    min-height: 100vh;
    background-color: #1f1f1f !important;
    overflow-x: hidden;
}

/* General class rules */

.highlight {
    font-weight: 600;
}

.icon {
    margin-left: 5px;
}

/*===============Nav Menu============*/
.topbar {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

.logo-container {
    position: relative;
    display: block;
    float: left;
    padding: 10px;
}

.navigation {
    position: relative;
    display: block;
    float: right;
    padding: 10px;
}

.logo a {
    color: #fff;
}

/*==========Social Media Icons and hover===========*/

.nav-links {
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 500;
    color: #fff;
}

.cv-btn {
    background: linear-gradient(to top, #103ce7, #64e9ff);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.cv-btn:hover {
    box-shadow: 10px 10px 10px 0 rgba(49, 196, 190, 0.8);
}

.nav-links li {
    display: inline-block;
    position: relative;
    color: #0087ca;
    margin: 0 10px;
}

.nav-links li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00a9fd;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.nav-links li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/*================= Introduction ================*/

.intro-row {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('images/main-img.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 35%;
    color: #fff;
    width: fit-content;
}

.name {
    font-size: 60px;
}

.title {
    color: #dddddd;
    font-size: 40px;
}

/* ==============About Me Section=============== */

.about-me {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('images/about-me-img.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#about {
    font-size: 2rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 30%;
    width: 40%;
    right: 10%;
    color: #fff;
    font-size: 1.2rem;
}

.about-para a {
    color: #00a9fd;
}

/*==========Projects Button, Icon and hover===========*/
.projects-btn {
    background: linear-gradient(to top, #103ce7, #64e9ff);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: 20px;
}

.projects-btn:hover {
    box-shadow: 10px 10px 10px 0 rgba(49, 196, 190, 0.8);
    transform: scale(1.15);
}

/*====================Skills Section=======================*/

.skills-section {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.7)), url('images/skills-img.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.skills-section ul {
    list-style: none;
}

.tech-icon img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.tech-list-item {
    margin: 10px 0;
}

/*===========Projects Page============*/
/*=========Cards=========*/

.cards-container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 1em auto;
    width: 30%;
}

.card-img-top {
    height: 250px;
}

.card-list-item {
    margin: 5px 0;
}

/*=============Skills Section==============*/

.circle {
    position: relative; 
    border: 2px solid #999; 
    border-radius: 100%; 
    width: 50px; 
    line-height: 50px; 
    text-align: center; 
    margin-top: 50px; 
    background-color: #fff; 
    z-index: 2;
}
.circle:first-child {
    margin-top: 0;
}
.circle:before {
    position: absolute; 
    border: 1px solid #999; 
    width: 0; 
    height: 50px; 
    display: block; 
    content: ''; 
    left: 50%; 
    z-index: 1; 
    top: -54px; 
    margin-left: -1px;
}
.circle:first-child:before {
    display: none;
}